<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyNhanSu_LinQ.Properties.Settings.QUANLYNHANVIENConnectionString"
            connectionString="Data Source=OPTI\KHIEMSQL;Initial Catalog=QUANLYNHANVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyNhanSu_LinQ.Properties.Settings.QUANLYNHANVIENConnectionString1"
            connectionString="Data Source=BLACKDANG;Initial Catalog=QUANLYNHANVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>